## Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [71]:
type([])

list

In [72]:
lst_example=[]
type(lst_example)

list

In [73]:
# Alternative way for declaring a list
lst=list()

In [74]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [75]:
len(lst)

6

## How to access an element in a  list

In [76]:
print(lst[1])

chemistry

## How to add an element in a list

In [77]:
#.append is used to add elements in the list
lst.append("Krish")
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish']

In [78]:
# Add N=2 number of elements in a list
for i in range(1,3):
    lst.append('abc{}'.format(i))
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', 'abc1', 'abc2']

In [79]:
#Add an element in a specific position in a list
lst.insert(2,'Atiq')
lst

['Mathematics',
 'chemistry',
 'Atiq',
 100,
 200,
 300,
 204,
 'Krish',
 'abc1',
 'abc2']

In [80]:
# Add a list in an list
lst.append(["Hello","World"])
lst

['Mathematics',
 'chemistry',
 'Atiq',
 100,
 200,
 300,
 204,
 'Krish',
 'abc1',
 'abc2',
 ['Hello', 'World']]

In [81]:
# Add a list in a specific position in an list
lst.insert(1, ["Rasel","Abc"])
lst

['Mathematics',
 ['Rasel', 'Abc'],
 'chemistry',
 'Atiq',
 100,
 200,
 300,
 204,
 'Krish',
 'abc1',
 'abc2',
 ['Hello', 'World']]

## How to add an element in a list

In [82]:
# Remove all items: clear()
l = list(range(10))
print(l)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

l.clear()
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]

In [83]:
#Remove an item by index and get its value: pop()

l = list(range(10)) # The index at the beginning is 0 (zero-based indexing).
print(l)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(l.pop(0))
# 0

print(l)
# [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(l.pop(3))
# 4

print(l)
# [1, 2, 3, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
[1, 2, 3, 4, 5, 6, 7, 8, 9]
4
[1, 2, 3, 5, 6, 7, 8, 9]

In [84]:
# You can use negative values to specify the position from the end. The index at the end is -1.
print(l)
print(l.pop(-2))
# 8

print(l)
# [1, 2, 3, 5, 6, 7, 9]

[1, 2, 3, 5, 6, 7, 8, 9]
8
[1, 2, 3, 5, 6, 7, 9]

In [85]:
#If the argument is omitted, the last item is deleted.
print(l)
print(l.pop())
# 9

print(l)
# [1, 2, 3, 5, 6, 7]

[1, 2, 3, 5, 6, 7, 9]
9
[1, 2, 3, 5, 6, 7]

In [86]:
#Remove an item by value: remove()
#If the list contains more than one matching the specified value, only the first one is deleted.
l = ['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']
print(l)
# ['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']

l.remove('Alice')
print(l)
# ['Bob', 'Charlie', 'Bob', 'Dave']

['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']
['Bob', 'Charlie', 'Bob', 'Dave']

In [87]:
#Remove items by index or slice: del
#Specify the item to be deleted by index. The first index is 0, and the last index is -1.
l = list(range(10))
print(l)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

del l[0]
print(l)
# [1, 2, 3, 4, 5, 6, 7, 8, 9]

del l[-1]
print(l)
# [1, 2, 3, 4, 5, 6, 7, 8]

del l[6]
print(l)
# [1, 2, 3, 4, 5, 6, 8]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 8]

In [88]:
# delete multiple items with slice.
l = list(range(10))
print(l)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

del l[2:5]
print(l)
# [0, 1, 5, 6, 7, 8, 9]

l = list(range(10))
del l[:3]
print(l)
# [3, 4, 5, 6, 7, 8, 9]

l = list(range(10))
del l[4:]
print(l)
# [0, 1, 2, 3]

l = list(range(10))
del l[-3:]
print(l)
# [0, 1, 2, 3, 4, 5, 6]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 6]

In [89]:
#Remove items that meet the condition: List comprehensions
l = list(range(10))
print(l)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print([i for i in l if i % 2 == 0])
# [0, 2, 4, 6, 8]

print([i for i in l if i % 2 != 0])
# [1, 3, 5, 7, 9]

print(l)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Various Operations that we can perform in List

In [122]:
lst=[2,1, 3,4,1, 5]
sum(lst)

16

In [123]:
#add the same list five times
lst*5,
lst

[2, 1, 3, 4, 1, 5]

In [124]:
# Count number of 1's in the list
lst.count(1)

2

In [125]:
#length:Calculates total length of List
len(lst)

6

In [126]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,0,4) #index(value, startposition, endposition)

1

In [127]:
##Min and Max
min(lst)

1

In [128]:

max(lst)

5

## List update/Replace

In [129]:

lst[0]=123
lst

[123, 1, 3, 4, 1, 5]