## SETS

A Set is an unordered collection data type and has no duplicate elements.

In [39]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [40]:
set_var={1,2,3,4,3}
set_var

{1, 2, 3, 4}

In [41]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

## How to add data in a set

In [42]:
## Inbuilt function in sets 
set_var.add("Atiq")
set_var # Add at the beggining of the set

{'Atiq', 'Avengers', 'Hitman', 'IronMan'}

In [43]:
# Intersection operation
# The intersection can be obtained with the & operator or the intersection() method.
set8={}
set1={"Avengers","IronMan",'Hitman','Atiq'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set8=set2.intersection(set1)
set8

{'Avengers', 'Hitman', 'IronMan'}

In [45]:
s_intersection = set1.intersection(set2, set8)
s_intersection

{'Avengers', 'Hitman', 'IronMan'}

In [28]:
# Union operation
# The union can be obtained with the | operator or the union() method.
set5={}
set3={"Avengers","IronMan",'Hitman','Atiq'}
set4={"Avengers","IronMan",'Hitman','Hulk2'}
set5=set3.union(set4)
set5

{'Atiq', 'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [29]:
set6={}
set6=set3|set4
set6

{'Atiq', 'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [31]:
# Multiple arguments can be specified for union().
set5={}
set3={"Avengers","IronMan",'Hitman','Atiq'}
set4={"Avengers","IronMan",'Hitman','Hulk2'}
set7={'a','b','c'}
set5=set3.union(set4,set7)
set5

{'Atiq', 'Avengers', 'Hitman', 'Hulk2', 'IronMan', 'a', 'b', 'c'}

In [7]:
##Difference 
set3.difference(set4)

{'Atiq'}

## Assign values to a set using loop

In [13]:
s = {i for i in range(5)}

print(s)
# {0, 1, 4, 9, 16}

{0, 1, 2, 3, 4}

## Remove an element from the set: discard(), remove(), pop(), clear()

In [15]:
# The discard() method deletes the element specified by the argument. If a value that does not exist in the set is specified, no action is taken.
s = {0, 1, 2}

s.discard(1)
print(s)
# {0, 2}

{0, 2}

In [16]:
s = {0, 1, 2}

s.discard(10)
print(s)
# {0, 1, 2}

{0, 1, 2}

In [20]:
# The remove() method also removes the element specified by the argument, but it raises an error KeyError if a value that does not exist in the set is specified.
s = {0, 1, 2}

s.remove(1)
print(s)
# {0, 2}

s = {0, 1, 2}

s.remove(10)
# KeyError: 10

{0, 2}

KeyError: 10

In [23]:
# The pop() method removes an element from the set and returns its value. You cannot choose which values to remove. It raises an error KeyError if the set is empty.
s = {2, 1, 0}
v = s.pop()
print(v)
s

0

{1, 2}

In [25]:
print(s.pop())
s

2

set()

In [26]:
# The clear() method removes all elements from the set and makes it empty.
s = {0, 1, 2}

s.clear()
print(s)

set()