## Pandas

In [1]:
## First step is to import pandas

import pandas as pd
import numpy as np

## How to create a random dataset with dataframe

In [4]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

## Accessing the elements

In [5]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int32

In [6]:
## Check the type
type(df.loc['Row1'])

pandas.core.series.Series

In [7]:
df.iloc[:,:]                                                  #iloc stand for index location

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [9]:
df.iloc[2:,1:3]                                                   # Access any columns or rows

      Column2  Column3
Row3        9       10
Row4       13       14
Row5       17       18

## #convert Dataframes into numpy array

In [11]:
npdf=df.iloc[:,1:].values
npdf

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [12]:
type(npdf)

numpy.ndarray

## Frequency counts of each columns in a Dataframes

In [13]:
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [14]:
df['Column1'].value_counts()

0     1
8     1
4     1
16    1
12    1
Name: Column1, dtype: int64